* {
    font-family: "Poppins", sans-serif !important;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

header {
    display: flex;
    //background-image: url("media/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .navbar {
        position: fixed;
        background: none;
        color: #000;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 2em 0;

        .navbar_wrapper {
            display: flex;
            width: 60%;

            .bloc_logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                margin-right: 3em;
                a {
                    font-size: 1.5em;
                    font-weight: 600;
                    color: #000;
                }
            }

            .nav_ul.nonlogin {
                display: flex;
                justify-content: flex-start;
                width: 80%;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }

                a:first-child,
                a:nth-child(2) {
                    margin-right: 2.3em;
                }
            }
        }


        .nav_ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .cta_login {
                padding: 0.8em;
                width: 130px;
                text-align: center;
                background: rgb(248, 248, 248);
                border: solid 2px rgb(66, 66, 66);
                border-radius: 2em;
                transition: all 0.3s ease;
                &:hover {
                    background: rgb(66, 66, 66);
                    border: solid 2px #fff;
                    a {
                        color: #fff;
                    }
                }
                a {
                    color: rgb(0, 0, 0);
                }
            }

            .cta_inscrire {
                padding: 0.8em;
                width: 125px;
                text-align: center;
                background: rgb(1, 156, 228);
                border: solid 2px rgb(255, 255, 255);
                margin-left: 1em;
                border-radius: 2em;
                transition: all 0.3s ease;
                &:hover {
                    background: rgb(255, 255, 255);
                    border: solid 2px rgb(1, 156, 228);
                    a {
                        color: rgb(1, 156, 228);
                    }
                }

                a {
                    color: rgb(255, 255, 255);
                }
            }
        }

        .nav_ul.login {
            margin-right: 3em;
            width: 40%;
        }
    }
}

.x-display-none {
    display: none;
}


