 /* 

    BREAKPOINTS
    =====================

    Small mobile 280px en 17.5em = xxsmall
    Small mobile 380px en 23.75em = xsmall

    Small Tablette < 500px en em 31.25 = medium
    Tablette < 700px en em 43.75 = medium
    Desktop 900px en em 64em = large
    Large desktop 1440px en em 71,25 = extra large

 */

$breakpoints-up: (
    'small' : 31.25em,
    'medium' : 43.75em,
    'large' : 64em,
    'xlarge' : 71.25em,
);

@mixin breakpoints-desktop($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content
    }
}

$breakpoints-small: (
    'xsmall' : 17.5em,
    'small' : 23.75em,
    'medium' : 64em,
);

@mixin breakpoints-mobile($sizeXS) {
    @media (max-width: map-get($breakpoints-small, $sizeXS)) {
        @content
    }
}


@media screen and (max-width : 1023px) {
    .hide-mobile {
        display: none !important;
    }
}

@media screen and (min-width : 1023px){
    .hide-desktop {
        display: none !important;
    }
}
