
/*! COULEURS | Aline Hy | Veg & Co' */

/* Fichier regroupant les couleurs qu'on va utiliser
   ========================================================================== */
    
$noir: #000;
$blanc: #fff;
$gris-fonce: #d4d4d4;
$gris-fonce-medium: #d3d3d3;
$gris-clair: #F6F6F6;
$vert-royal: #2E5E4E;

$orange: #DD9E5A;
$jaune-dore: #E3B759; 
$marron: #65331C;
$rouge-terracotta: #BD5338;
$vert-5050: #2e5e4e50;
 
$vert-cta: #9FB990;
$jaune-cta: #F3BD47;
