/* 

   BREAKPOINTS
   =====================

   Small mobile 280px en 17.5em = xxsmall
   Small mobile 380px en 23.75em = xsmall

   Small Tablette < 500px en em 31.25 = medium
   Tablette < 700px en em 43.75 = medium
   Desktop 900px en em 64em = large
   Large desktop 1440px en em 71,25 = extra large

*/
@media screen and (max-width: 1023px) {
  .hide-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 1023px) {
  .hide-desktop {
    display: none !important;
  }
}
/*! COULEURS | Aline Hy | Veg & Co' */
/* Fichier regroupant les couleurs qu'on va utiliser
   ========================================================================== */
/*! FONTS | Aline Hy | Veg & Co' */
/* Fichier regroupant les polices qu'on a besoin 
   ========================================================================== */
/**
 * 1. Bodoni Moda pour les gros titres (h1)
 * 2. Montserrat pour les titres moins importants (h2, h3) et le corps du texte
 */
@font-face {
  font-family: "Bodoni Moda";
  src: url("/BodoniModa18pt-BlackItalic.8ec05c9b.eot");
  src: url("/BodoniModa18pt-BlackItalic.8ec05c9b.eot?#iefix") format("embedded-opentype"), url("/BodoniModa18pt-BlackItalic.3d108e51.woff2") format("woff2"), url("/BodoniModa18pt-BlackItalic.70131f34.woff") format("woff"), url("/BodoniModa18pt-BlackItalic.d65a7cb3.ttf") format("truetype"), url("/BodoniModa18pt-BlackItalic.1cabfc14.svg#BodoniModa18pt-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/BodoniModa18pt-BoldItalic.d179706e.eot");
  src: url("/BodoniModa18pt-BoldItalic.d179706e.eot?#iefix") format("embedded-opentype"), url("/BodoniModa18pt-BoldItalic.83919432.woff2") format("woff2"), url("/BodoniModa18pt-BoldItalic.87e304c1.woff") format("woff"), url("/BodoniModa18pt-BoldItalic.13081419.ttf") format("truetype"), url("/BodoniModa18pt-BoldItalic.24fd50c3.svg#BodoniModa18pt-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/BodoniModa18pt-MediumItalic.8fd9869f.eot");
  src: url("/BodoniModa18pt-MediumItalic.8fd9869f.eot?#iefix") format("embedded-opentype"), url("/BodoniModa18pt-MediumItalic.ab1eb0ed.woff2") format("woff2"), url("/BodoniModa18pt-MediumItalic.0a1820ac.woff") format("woff"), url("/BodoniModa18pt-MediumItalic.78fc4301.ttf") format("truetype"), url("/BodoniModa18pt-MediumItalic.f6c018c9.svg#BodoniModa18pt-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/BodoniModa18pt-SemiBold.460d497e.eot");
  src: url("/BodoniModa18pt-SemiBold.460d497e.eot?#iefix") format("embedded-opentype"), url("/BodoniModa18pt-SemiBold.caedd769.woff2") format("woff2"), url("/BodoniModa18pt-SemiBold.4e2092b8.woff") format("woff"), url("/BodoniModa18pt-SemiBold.bfabff9b.ttf") format("truetype"), url("/BodoniModa18pt-SemiBold.40551b9f.svg#BodoniModa18pt-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/BodoniModa18pt-Regular.9255fd65.eot");
  src: url("/BodoniModa18pt-Regular.9255fd65.eot?#iefix") format("embedded-opentype"), url("/BodoniModa18pt-Regular.3c3f9ea5.woff2") format("woff2"), url("/BodoniModa18pt-Regular.538cbdeb.woff") format("woff"), url("/BodoniModa18pt-Regular.73d17151.ttf") format("truetype"), url("/BodoniModa18pt-Regular.4d741e01.svg#BodoniModa18pt-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/BodoniModa18pt-Medium.32b35354.eot");
  src: url("/BodoniModa18pt-Medium.32b35354.eot?#iefix") format("embedded-opentype"), url("/BodoniModa18pt-Medium.ca3bafb1.woff2") format("woff2"), url("/BodoniModa18pt-Medium.dedfcef1.woff") format("woff"), url("/BodoniModa18pt-Medium.b9204127.ttf") format("truetype"), url("/BodoniModa18pt-Medium.f77910a6.svg#BodoniModa18pt-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/BodoniModa18pt-Black.25fb76cb.eot");
  src: url("/BodoniModa18pt-Black.25fb76cb.eot?#iefix") format("embedded-opentype"), url("/BodoniModa18pt-Black.06c72914.woff2") format("woff2"), url("/BodoniModa18pt-Black.a2a31dbb.woff") format("woff"), url("/BodoniModa18pt-Black.f2308d56.ttf") format("truetype"), url("/BodoniModa18pt-Black.43a05c3b.svg#BodoniModa18pt-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/BodoniModa18pt-SemiBoldItalic.9cacdea3.eot");
  src: url("/BodoniModa18pt-SemiBoldItalic.9cacdea3.eot?#iefix") format("embedded-opentype"), url("/BodoniModa18pt-SemiBoldItalic.adfcc796.woff2") format("woff2"), url("/BodoniModa18pt-SemiBoldItalic.20dad3d1.woff") format("woff"), url("/BodoniModa18pt-SemiBoldItalic.504476d2.ttf") format("truetype"), url("/BodoniModa18pt-SemiBoldItalic.693f8a49.svg#BodoniModa18pt-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/BodoniModa18pt-Italic.d0d1f297.eot");
  src: url("/BodoniModa18pt-Italic.d0d1f297.eot?#iefix") format("embedded-opentype"), url("/BodoniModa18pt-Italic.8a67ea8e.woff2") format("woff2"), url("/BodoniModa18pt-Italic.e3581eac.woff") format("woff"), url("/BodoniModa18pt-Italic.fca0a69c.ttf") format("truetype"), url("/BodoniModa18pt-Italic.fe3a8b1f.svg#BodoniModa18pt-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/BodoniModa18pt-ExtraBold.00efdff1.eot");
  src: url("/BodoniModa18pt-ExtraBold.00efdff1.eot?#iefix") format("embedded-opentype"), url("/BodoniModa18pt-ExtraBold.9a450594.woff2") format("woff2"), url("/BodoniModa18pt-ExtraBold.5ba8a01c.woff") format("woff"), url("/BodoniModa18pt-ExtraBold.b8be3ae0.ttf") format("truetype"), url("/BodoniModa18pt-ExtraBold.ccb7795c.svg#BodoniModa18pt-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/BodoniModa18pt-ExtraBoldItalic.111d31fb.eot");
  src: url("/BodoniModa18pt-ExtraBoldItalic.111d31fb.eot?#iefix") format("embedded-opentype"), url("/BodoniModa18pt-ExtraBoldItalic.a4306797.woff2") format("woff2"), url("/BodoniModa18pt-ExtraBoldItalic.910387f7.woff") format("woff"), url("/BodoniModa18pt-ExtraBoldItalic.e5bf0060.ttf") format("truetype"), url("/BodoniModa18pt-ExtraBoldItalic.71310b6b.svg#BodoniModa18pt-ExtraBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/BodoniModa18pt-Bold.1d9ea788.eot");
  src: url("/BodoniModa18pt-Bold.1d9ea788.eot?#iefix") format("embedded-opentype"), url("/BodoniModa18pt-Bold.3db756f2.woff2") format("woff2"), url("/BodoniModa18pt-Bold.44e393f6.woff") format("woff"), url("/BodoniModa18pt-Bold.3a681588.ttf") format("truetype"), url("/BodoniModa18pt-Bold.83f465c4.svg#BodoniModa18pt-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Montserrat", sans-serif;
}

h1, h2 {
  font-family: "Bodoni Moda", serif;
  line-height: 1.1;
  margin-top: 0;
  font-weight: 800;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}

ul, ol, ol li, ul li {
  color: #000;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

footer {
  background-color: #DD9E5A;
  padding-block: 4em 8em;
  padding-inline: 2em;
  color: #fff;
  font-size: 0.9em;
}
@media (max-width: 23.75em) {
  footer {
    padding-block-end: 7em;
  }
}
@media (min-width: 43.75em) {
  footer {
    padding-inline: 4em;
    font-size: 1.2em;
  }
}
@media (min-width: 64em) {
  footer {
    padding-block: 4em;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
}
footer ol li a {
  color: #fff;
}
footer h6 {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-block: 0em 1em;
}
@media (min-width: 43.75em) {
  footer h6 {
    font-size: 1.3em;
  }
}
@media (min-width: 64em) {
  footer h6 {
    margin-block: 0em 1em;
    font-size: 1.1em;
  }
}
@media (min-width: 64em) {
  footer .presentation-footer {
    width: 30%;
  }
}
@media (min-width: 43.75em) {
  footer .presentation-footer p.desc-footer {
    width: 75%;
    margin-block-end: 2em;
  }
}
@media (min-width: 64em) {
  footer .presentation-footer p.desc-footer {
    margin-inline: 0;
    width: 100%;
  }
}
@media (min-width: 43.75em) {
  footer .presentation-footer .svg_footer {
    margin-block-end: 1.5em;
  }
}
@media (min-width: 64em) {
  footer .presentation-footer .svg_footer {
    margin-block-end: 1.5em;
  }
}
footer .wrapper-follow {
  display: flex;
  flex-direction: column;
}
@media (min-width: 64em) {
  footer .wrapper-follow {
    flex-direction: row;
  }
}
footer .wrapper-follow .nav-footer {
  display: flex;
  margin-bottom: 2.5em;
}
@media (min-width: 64em) {
  footer .wrapper-follow .nav-footer {
    margin-bottom: 0em;
    margin-right: 6em;
    width: 50%;
  }
}
@media (max-width: 64em) {
  footer .wrapper-follow .nav-footer {
    margin-right: 3em;
  }
}
footer .wrapper-follow .nav-footer ol {
  width: 50%;
  line-height: 2.25em;
}
@media (min-width: 64em) {
  footer .wrapper-follow .nav-footer ol {
    width: auto;
  }
  footer .wrapper-follow .nav-footer ol li:first-child {
    margin-right: 6em;
  }
}
@media (max-width: 64em) {
  footer .wrapper-follow .nav-footer ol li:first-child {
    margin-right: 2.5em;
  }
}
footer .wrapper-follow .nav-footer ol li {
  font-size: 1.1em;
  font-weight: 600;
}
@media (max-width: 23.75em) {
  footer .wrapper-follow .nav-footer ol li {
    font-size: 0.9em;
  }
}
@media (min-width: 43.75em) {
  footer .wrapper-follow .nav-footer ol li {
    font-size: 1.2em;
  }
}
@media (min-width: 64em) {
  footer .wrapper-follow .nav-footer ol li {
    margin-block-end: 0.5em;
    font-size: 1.1em;
  }
}
@media (max-width: 64em) {
  footer .wrapper-follow .nav-footer ol li {
    font-size: 1em;
  }
}
footer .wrapper-follow .followUs-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 64em) {
  footer .wrapper-follow .followUs-container {
    align-items: flex-end;
  }
}
@media (min-width: 71.25em) {
  footer .wrapper-follow .followUs-container {
    margin-bottom: 0em;
  }
}
footer .wrapper-follow .followUs-container .followUs-footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 64em) {
  footer .wrapper-follow .followUs-container .followUs-footer {
    width: 100%;
  }
}
footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-block-end: 3em;
}
@media (min-width: 64em) {
  footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer {
    justify-content: flex-start;
  }
}
footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1em;
  height: 60px;
  width: 60px;
  border-radius: 100%;
}
@media (max-width: 17.5em) {
  footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div {
    height: 50px !important;
    width: 50px !important;
  }
}
@media (min-width: 43.75em) {
  footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 64em) {
  footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div {
    width: 60px;
    height: 60px;
  }
}
footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div:first-child, footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div:nth-child(2), footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div:nth-child(3) {
  margin-right: 1em;
}
@media (max-width: 23.75em) {
  footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div:first-child, footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div:nth-child(2), footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div:nth-child(3) {
    margin-right: 0.5em;
  }
}
@media (min-width: 64em) {
  footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div:first-child, footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div:nth-child(2), footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div:nth-child(3) {
    margin-right: 0.75em;
  }
}
footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div svg {
  height: 30px;
  width: 100%;
}
@media (max-width: 17.5em) {
  footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div svg:first-child {
    height: 25px !important;
  }
}
@media (max-width: 23.75em) {
  footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div svg:first-child {
    height: 30px;
  }
}
@media (min-width: 43.75em) {
  footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div svg:first-child {
    height: 45px;
  }
}
@media (min-width: 64em) {
  footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div svg:first-child {
    width: 25px;
    height: 25px;
  }
}
footer .wrapper-follow .followUs-container .followUs-footer .reseaux-footer div svg path {
  fill: #2E5E4E;
}
footer .wrapper-follow .followUs-container .newsletter-footer {
  width: 100%;
}
footer .wrapper-follow .followUs-container .newsletter-footer div {
  display: flex;
  background-color: #2E5E4E;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3em;
  width: 290px;
  font-size: 11px;
}
@media (max-width: 23.75em) {
  footer .wrapper-follow .followUs-container .newsletter-footer div {
    width: auto;
    align-items: flex-start;
    background: none;
    border: 0;
    flex-direction: column;
  }
}
@media (min-width: 43.75em) {
  footer .wrapper-follow .followUs-container .newsletter-footer div {
    width: 480px;
    font-size: 1em;
  }
}
@media (min-width: 64em) {
  footer .wrapper-follow .followUs-container .newsletter-footer div {
    font-size: 0.7em;
    width: 250px;
  }
}
footer .wrapper-follow .followUs-container .newsletter-footer div input,
footer .wrapper-follow .followUs-container .newsletter-footer div button {
  border: none;
}
footer .wrapper-follow .followUs-container .newsletter-footer div input {
  z-index: 2;
  padding: 1.25em 1.75em;
  border-radius: 3em 0 0 3em;
  background: #fff;
}
footer .wrapper-follow .followUs-container .newsletter-footer div input::placeholder {
  color: rgb(181, 181, 181);
}
@media (max-width: 23.75em) {
  footer .wrapper-follow .followUs-container .newsletter-footer div input {
    margin-block-end: 1em;
    border-radius: 3em;
  }
}
@media (min-width: 64em) {
  footer .wrapper-follow .followUs-container .newsletter-footer div input {
    width: 170px;
  }
}
footer .wrapper-follow .followUs-container .newsletter-footer div button {
  border-radius: 3em;
  padding: 1em;
  background: none;
  color: #fff;
}
@media (max-width: 23.75em) {
  footer .wrapper-follow .followUs-container .newsletter-footer div button {
    width: auto;
    background-color: #2E5E4E;
  }
}
footer .copyright {
  margin-block-start: 4em;
  color: #fff;
  font-size: 12px;
}
@media (min-width: 43.75em) {
  footer .copyright {
    margin-block-start: 3em;
    font-size: 0.9em;
  }
}

header .logo-nav {
  margin-block: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header .logo-nav svg {
  width: 3.5em;
  height: 3.5em;
}
header .logo-nav svg path {
  fill: #2E5E4E;
}
header .fil-dariane {
  padding-inline: 2em;
  margin-block: 0 1em;
}
header .fil-dariane p {
  text-align: center;
  font-size: 0.9em;
}
header .fil-dariane p a {
  color: #9FB990;
}
header .navbar-mobile {
  border-radius: 2em 2em 0 0;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  width: 100%;
  bottom: 0;
}
header .navbar-mobile ol {
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .navbar-mobile ol li:nth-of-type(1) svg {
  margin-top: 5px;
  height: 30px;
}
@media (max-width: 17.5em) {
  header .navbar-mobile ol li:nth-of-type(1) svg {
    height: 35px;
  }
}
@media (min-width: 43.75em) {
  header .navbar-mobile ol li:nth-of-type(1) svg {
    height: 45px;
  }
}
header .navbar-mobile ol li:nth-of-type(3) svg {
  height: 30px;
}
@media (min-width: 43.75em) {
  header .navbar-mobile ol li:nth-of-type(3) svg {
    height: 40px;
  }
}
header .navbar-mobile ol li:nth-of-type(4) svg {
  height: 40px;
}
@media (max-width: 17.5em) {
  header .navbar-mobile ol li:nth-of-type(4) svg {
    height: 35px;
  }
}
@media (min-width: 43.75em) {
  header .navbar-mobile ol li:nth-of-type(4) svg {
    height: 50px;
  }
}
header .navbar-mobile ol li a {
  height: 100%;
}
header .navbar-mobile ol li a svg {
  height: 30px;
  width: auto;
  fill: #d3d3d3;
}
header .navbar-mobile ol li a svg.navbar-active {
  fill: #2E5E4E;
}
@media (max-width: 17.5em) {
  header .navbar-mobile ol li a svg {
    height: 30px;
  }
}
@media (min-width: 43.75em) {
  header .navbar-mobile ol li a svg {
    height: 50px;
  }
}
header .navbar-desktop {
  position: fixed;
  width: 100%;
  background-color: #2E5E4E;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
header .navbar-desktop .logo-desktop {
  margin-left: 2em;
  width: 5%;
  height: 5%;
}
@media (min-width: 71.25em) {
  header .navbar-desktop .logo-desktop {
    width: 3%;
  }
}
header .navbar-desktop .active-link {
  font-weight: 700;
}
header .navbar-desktop a {
  font-size: 0.8em;
  color: #fff;
}
header .navbar-desktop a:hover {
  font-weight: 700;
}
header .navbar-desktop ol {
  display: flex;
  padding-right: 3em;
  justify-content: flex-end;
  align-items: center;
}
header .navbar-desktop ol li:first-child, header .navbar-desktop ol li:nth-child(2),
header .navbar-desktop ol li:nth-child(3), header .navbar-desktop ol li:nth-child(4),
header .navbar-desktop ol .inscri-link {
  margin-right: 3em;
}
header .navbar-desktop ol svg {
  width: 2em;
  fill: #fff;
}
header .navbar-desktop .inscri-link {
  border: 1px solid #fff;
  padding: 1em 1.5em;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}
header .navbar-desktop .inscri-link:hover {
  font-weight: normal;
  color: #000;
  background: #fff;
}

.recettes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 2em;
  padding-block-end: 4em;
  font-size: 1em;
}
@media (min-width: 43.75em) {
  .recettes {
    font-size: 1.2em;
    padding-inline: 2.5em;
  }
}
@media (min-width: 64em) {
  .recettes {
    font-size: 1em;
    padding-inline: 2.5em;
  }
}
.recettes h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 64em) {
  .recettes h1 {
    grid-row: 1/5;
    grid-column: 1/21;
  }
}
.recettes h2, .recettes h3 {
  color: #2E5E4E;
}
.recettes h3 {
  margin-block-end: 0.5em;
  font-weight: 700;
}
.recettes .pres-recette {
  width: 100%;
  height: 100%;
}
.recettes article:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media (min-width: 64em) {
  .recettes article:first-child {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
  }
}
.recettes article:first-child .img-recette {
  height: 20vh;
}
@media (min-width: 31.25em) {
  .recettes article:first-child .img-recette {
    height: 30vh;
  }
}
@media (min-width: 64em) {
  .recettes article:first-child .img-recette {
    height: auto;
    grid-row: 7/21;
    grid-column: 1/21;
  }
}
.recettes article:first-child .img-recette img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  object-fit: cover;
  object-position: center;
}
.recettes article:first-child .svg-avis {
  margin-block: 1em;
}
@media (min-width: 64em) {
  .recettes article:first-child .svg-avis {
    grid-row: 4/5;
    grid-column: 1/21;
  }
}
.recettes article:first-child .svg-avis svg path {
  fill: #E3B759;
}
.recettes article:first-child .svg-avis svg {
  cursor: pointer;
  height: 2em;
  width: 2em;
}
.recettes article:first-child .svg-avis svg:nth-child(5) path {
  fill: #d4d4d4;
}
.recettes .slot-ingredients {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block-end: 1.5em;
}
.recettes .slot-ingredients strong {
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 1.25px dotted #000;
}
.recettes .slot-ingredients strong + p {
  margin-block-start: 1em;
}
.recettes .pre-preparation-slot {
  display: flex;
  margin-block-end: 1em;
}
@media (min-width: 64em) {
  .recettes .pre-preparation-slot {
    margin-block: 2em;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
  }
  .recettes .pre-preparation-slot .categ-facili {
    grid-row: 1/6;
    grid-column: 1/3;
  }
  .recettes .pre-preparation-slot .temps {
    flex-direction: row;
    justify-content: flex-end;
    grid-row: 1/6;
    grid-column: 3/6;
  }
  .recettes .pre-preparation-slot .temps p:first-child, .recettes .pre-preparation-slot .temps p:nth-child(2) {
    margin-right: 2em;
  }
}
.recettes .pre-preparation-slot div {
  width: 50%;
}
@media (min-width: 64em) {
  .recettes .pre-preparation-slot div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.recettes .slot-etape p {
  text-align: justify;
}
.recettes .slot-etape:last-child {
  font-size: 1.25em;
  margin-block-start: 3em;
}

@media (min-width: 64em) {
  main {
    padding-block-start: 10em;
  }
}

/*# sourceMappingURL=/style.1dc133ea.css.map */